.disclaimer-block,
.cookie-policy-block,
.privacy-policy-block,
.about-block {
  margin-bottom: 35px;
  padding: 30px; /* Increased padding */
  background-color: var(--card-background-color);
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  min-height: 200px; /* Ensure minimum height for these blocks */
}

.disclaimer-block h3,
.cookie-policy-block h3,
.privacy-policy-block h3,
.about-block h3 {
  margin-bottom: 15px; /* Increased margin-bottom */

  font-weight: 700;
  font-size: clamp(1.3rem, 0.9vw + 1rem, 1.8rem); /* Increased font size */
  line-height: 1.3; /* Adjusted line height */
  text-transform: uppercase;
  color: var(--primary-color);
}

.disclaimer-block p,
.cookie-policy-block p,
.privacy-policy-block p,
.about-block p {
  font-size: clamp(1rem, 0.2vw + 0.95rem, 1.15rem); /* Increased font size */
  line-height: 1.8; /* Adjusted line height */
  text-align: left;
  color: var(--dark-text-color);
}
