.footer {
  background-color: var(--header-background-color);
  color: var(--light-text-color); /* Adjusted to light text color */
  padding: 40px 0; /* Increased padding */


}
.footer-logo {
  width: 100%;
  max-width: 450px;
  padding-bottom: 15px;
  text-align: center;
  font-size: clamp(1.375rem, 0.451vw + 1.264rem, 1.625rem);
  line-height: clamp(1.65rem, 0.834vw + 1.445rem, 2.113rem);
  color: var(--light-text-color); /* Adjusted to primary text color */
}
.footer-bottom {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Increased gap */
  justify-content: center;
  align-items: center;
  @media (min-width:768px) {
    flex-direction: row;
    justify-content: space-between;
  }
}
.footer-container{
    display: flex;
  justify-content: center;
  align-items: space-between;
  flex-direction: column;
}
.footer-nav {
  display: flex;
  flex-wrap: wrap; /* Allow wrapping for better responsiveness */
  justify-content: center; /* Center links on smaller screens */
  gap: 20px; /* Increased gap */
}
.footer-nav a {
  color: var(--light-text-color); /* Ensure link color is visible */
  font-size: clamp(1rem, 0.4vw + 0.9rem, 1.15rem); /* Increased font size */
  &:hover {
    color: var(--link-color); /* Changed to new link color variable */
  }
}