.header {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;

  width: 100%;

  background-color: var(--header-background-color);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding-top: 25px; /* Increased padding */
  padding-bottom: 25px; /* Increased padding */
}
.headerContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 35px; /* Increased gap */
}
.logo {
  font-weight: bold;
  font-size: clamp(1.8rem, 2.5vw + 1rem, 2.8rem); /* Increased font size */
  letter-spacing: 2px; /* Added letter-spacing */
  text-transform: uppercase;
  color: var(--light-text-color);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); /* Adjusted text shadow */
}
.menuToggle {
  border: none;
  cursor: pointer;
  display: block;

  background-color: transparent;
  color: var(--light-text-color); /* Changed to light-text-color for contrast */
  font-size: 2.5rem; /* Adjusted font size */

  @media (min-width: 768px) {
    display: none;
  }
}

.mobileMenu {
  display: none;
  width: 100%;

  &.open {
    position: absolute;
    right: 0;
    top: 105px; /* Adjusted top to align with new header height */
    z-index: 12;

    width: 100%;
    padding: 20px;

    display: flex;
    justify-content: center;

    background-color: var(--primary-color); /* Changed to primary-color */
    backdrop-filter: blur(10px); /* Adjusted blur */
    -webkit-backdrop-filter: blur(10px);
  }

  @media (min-width: 768px) {
    display: block;
    width: auto;
  }
}

.mobileMenuList {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Increased gap */
  align-items: center;

  @media (min-width: 768px) {
    flex-direction: row;
    gap: 40px; /* Increased gap */
  }
}

.mobileMenuLink {
  font-weight: 500;
  font-size: clamp(1.2rem, 0.6vw + 1rem, 1.4rem); /* Increased font size */
  color: var(--light-text-color); /* Applied new text color */

  &:hover,
  &:focus {
   font-weight: 700; /* Changed to accent-color */
  }
}

.mobileMenuLink.active {
  padding-bottom: 5px;
  border-bottom: 2px solid var(--accent-color); /* Changed to accent-color */
}

.mobileMenu.open + .backdrop {
  opacity: 1;
  pointer-events: auto;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Dark semi-transparent overlay */
  backdrop-filter: blur(8px); /* Apply blur effect to content behind */
  -webkit-backdrop-filter: blur(8px);
  z-index: 11; /* Below the mobile menu, above other content */
  opacity: 0; /* Hidden by default */
  pointer-events: none; /* Do not block interaction when hidden */
  transition: opacity 0.3s ease; /* Smooth transition */
  top: 105px; /* Start below the header */
}

@media (min-width: 768px) {
  .backdrop {
    display: none; /* Hide backdrop on desktop */
  }
}
