.cards-grid {
  display: grid;
  gap: 35px; /* Adjusted gap */
  width: 100%;
  max-width: 900px; /* Increased max-width for wider cards */
  margin: 0 auto;
  padding: clamp(20px, 3vw, 40px); /* Added padding */
  background-color: var(--secondary-background-color); /* New background color */
  border-radius: 10px; /* Added border-radius */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); /* Added subtle shadow */
  background-image: var(--gradient-primary);
}

.news-box {
  border-radius: 12px; /* Adjusted border-radius */
  background-color: var(--card-background-color); /* New background color */
  color: var(--dark-text-color); /* Adjusted text color */
  overflow: hidden;
  transition: transform 0.3s ease; /* Ensure smooth transition */
  display: flex; /* Changed to flex for vertical layout */
  flex-direction: column; /* Stack items vertically */
  padding: 20px; /* Added padding to the news-box */
  
  &:hover {
    transform: translateY(-8px); /* Lift card on hover */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15); /* Enhance shadow on hover */
  }
}

.news-img img {
  width: 200px;
  height: 200px; /* Set fixed height */
  object-fit: cover;
  border-radius: 8px;
}

.news-content {
  padding: 15px 0 0; /* Adjusted padding for content area */
}

.news-meta {
  display: flex;
  justify-content: space-between;
  font-size: 1rem; /* Increased font size */
  color: var(--secondary-text-color);
  margin-bottom: 12px; /* Adjusted margin */
}

.news-meta span {
  font-weight: 500;
}

.news-title {
  font-size: 1.6rem; /* Increased font size */
  font-weight: 700;
  margin: 0 0 15px; /* Adjusted margin */
  color: var(--primary-color);
}

.news-text {
  font-size: 1.1rem; /* Increased font size */
  color: var(--dark-text-color);
  padding: 0;
  line-height: 1.7; /* Adjusted line height */
  margin-bottom: 20px; /* Increased margin-bottom */
}

.read-more-btn {
  background:  var(--dark-text-color);
  border-radius: 5px;
  border: none;
  color: var(--accent-color);
  cursor: pointer;
  padding: 12px 25px; /* Increased padding */
  font-size: 1.1rem; /* Increased font size */
  font-weight: 600;
  text-align: right;
  align-self: flex-end;

  &:hover {
    text-decoration: underline;
    color: var(--hover-color);
  }
}
.news-section{
  display: flex;
  justify-content: space-around;
  gap: 20px;
  align-items: center;
}
@media only screen and (max-width: 768px) {
.news-section{  
  flex-direction: column;
}


}