*,
::after,
::before {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;

  background-color: var(--main-bg-color);
  color: var(--main-color);
  font-weight: 400;
  font-family: var(--font-family);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
img {
  display: block;
  max-width: 100%;
  object-fit: cover;
  height: auto;
}
a {
  color: currentColor;
  text-decoration: none;
}
button {
  color: currentColor;
  cursor: pointer;
}
