:root {
  --font-family: "Roboto", sans-serif;

  --primary-color: #007bff; /* Royal Blue */
  --secondary-color: #ADD8E6; /* Light Blue */
  --accent-color: #ffb547; /* Tomato - a shade of coral */

  --primary-text-color: #212529; /* Dark Gray, for main titles */
  --secondary-text-color: #495057; /* Gray, for subtitles/important text */
  --light-text-color: #FFFFFF; /* Changed to pure white */
  --dark-text-color: #343A40; /* Darker Gray, for text on light BG */

  --link-color: #17A2B8; /* Info Blue */
  --hover-color: #0056B3; /* Darker Blue for hover */

  --main-background-color: #F8F9FA; /* Off-white for base */
  --header-background-color: #007bff; /* Same as primary color */
  --border-color: #6C757D; /* Gray, for borders */
  --card-background-color: #FFFFFF; /* White for cards on light BG */
  --secondary-background-color: #E0F2F7; /* Light Blue for sections */
  --dark-background-color: #343A40; /* Darker Gray for sections */

  --gradient-primary: linear-gradient(to right, var(--primary-color), var(--secondary-color));
  --gradient-secondary: linear-gradient(to right, var(--accent-color), var(--accent-color));

  --time-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
