:root {
  --font-family: "Roboto", sans-serif;

  --primary-color: #6A0DAD; /* Deep Violet */
  --secondary-color: #912ae6; /* Medium Violet */
  --accent-color: #773ba8; /* Light Violet */

  --primary-text-color: #FFFFFF; /* White, for main titles on dark violet */
  --secondary-text-color: #E0E0E0; /* Off-white, for subtitles/important text on violet */
  --light-text-color: #FFFFFF; /* Pure white */
  --dark-text-color: #330066; /* Very Dark Violet, for text on light BG */

  --link-color: #A366D6; /* Medium Violet for links */
  --hover-color: #4B0082; /* Indigo, darker for hover */

  --main-background-color: #EDE8F2; /* Very Light Violet/Gray for base */
  --header-background-color: #6A0DAD; /* Same as primary color */
  --border-color: #8C47A2; /* Muted Violet, for borders */
  --card-background-color: #FFFFFF; /* White for cards on light BG */
  --secondary-background-color: #CCA3E5; /* Light Lavender for sections */
  --dark-background-color: #330066; /* Very Dark Violet for sections */

  --gradient-primary: linear-gradient(to right, var(--primary-color), var(--secondary-color));
  --gradient-secondary: linear-gradient(to right, var(--accent-color), var(--accent-color));

  --time-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
